# Don't track test scaffolding:
test/libs
test/libs/jlenv
test/libs/bats
test/libs/bats-assert
test/libs/bats-file
test/libs/bats-mock
test/libs/bats-support
test/libexec/bin
test/libexec/libexec
test/libexec/share

/plugins
/shims
/version
/versions
/sources
/cache
/libexec/*.dylib
/src/Makefile
/src/*.o
/gems

# Editor specifics
/.vscode
.vimrc

# Merge leftovers.
*.orig